
// Components
// -------------------------
@import "lesshat";
@import "tipsy";

// Grid
// -------------------------
@import "../../components/semantic-grid/stylesheets/less/grid";
@total-width: 100%;

// Partials
// -------------------------
@import "variables";
@import "normalize";
@import "mixins";


// Debug styles
// Uncomment when needed
// -------------------------
// @import "debug";


/*
 * Typography
 */
body {
  .baseFont();
}
h1, h2, h3 {
  font-family: @altFontStack;
}
h1 {
  .xLargeFont();
  .rhythmShift(2, 1, .7, .3);
}
h2 {
  .largeFont();
  .rhythmShift(1, 1, .7, .3);
}
h3,
h4 {
  .baseFont();
  .rhythmShift(0, 0, .5, .5);
}
p {
  .rhythmShift(0, 0, .5, .5);
}
small {
  .smallFont();
}
hgroup h1 + h2,
hgroup h2 + h3,
hgroup h3 + h4 {
  margin-top: -@rhythmUnitFallback; // non-rem fallback
  margin-top: -@rhythmUnit;
}
dd h3,
dd h4 {
  .rhythmShift(0, 0, 0, 0);
}

/*
 * Body background and colors
 */
body {
  background: @backgroundColor url('../img/linedpaper.png') top left;
  color: @textColor;

  /* High density image */
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    html.backgroundsize & {
      background-image: url('../img/linedpaper_@2x.png');
    }
  }
}

/*
 * Autosize images
 */
img {
  max-width: 100%;
  height: auto;
}

/*
 * Hide navigation headers by defult
 */
nav {
  h1, h2, h3, h4 {
    .hide();
  }
}

/*
 * Wrapper dimensions
 */
#wrapper {
  max-width: 1002px;
  padding: (8 * @rhythmUnitFallback) @rhythmUnitFallback; // non-rem fallback
  padding: (8 * @rhythmUnit) @rhythmUnit;
  margin: 0 auto;
}

/*
 * Clear floats in sections
 */
section {
  .clearfix();
}

/*
 * Enable positioning inside header
 */
header {
  position: relative;
}

/*
 * Logotype
 */
header h1 {
  /* Hide text */
  .ir();

  /* Set bg image */
  background-image: url('../img/mnhlogo.png');

  /* Position in center */
  display: block;
  width: 374px;
  height: 132px;
  margin: 0 auto (2 * @rhythmUnit);

  /* Small screens */
  @media screen and (max-width: 400px) {
    background-size: cover;
    width: 280px;
    height: 99px;
  }

  /* High density image */
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    html.backgroundsize & {
      background-image: url('../img/mnhlogo_@2x.png');
      background-size: cover;
    }
  }

}

/*
 * Navigation
 */
header nav {
  .invertColors();
  border-bottom: 1px solid white;

  /* Layout */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  ul {
    .inline-list();
    text-align: center;

    /* Enlarge hit area on links */
    li a {
      padding: @rhythmUnitFallback; // non-rem fallback
      padding: @rhythmUnit;
    }

    /* Separators */
    li:before {
      color: rgba(255,255,255,.2);
      content: '|';
    }
    li:first-child:before {
      content: none;
    }
  }

  /* Typography */
  .smallFont();
  font-family: @altFontStack;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  a {
    color: mix(@backgroundColor, @textColor, 80%);
    text-decoration: none;

    &:focus,
    &:hover {
      color: @backgroundColor;
    }
  }
}

/*
 * About text
 */
#about {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}

/*
 * Partners
 */
#partners {
  max-width: 50em;
  margin: (2 * @rhythmUnitFallback) auto; // non-rem fallback
  margin: (2 * @rhythmUnit) auto;

  text-align: center;

  h2 {
    padding: 0;
    margin-bottom: (2 * @rhythmUnitFallback); // non-rem fallback
    margin-bottom: (2 * @rhythmUnit);
    .microFont();
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  ul {
    .inline-list();
    li {
      margin-right: @rhythmUnitFallback; // non-rem fallback
      margin-right: @rhythmUnit;
      margin-bottom: @rhythmUnitFallback; // non-rem fallback
      margin-bottom: @rhythmUnit;
    }
  }
}

/*
 * Float artwork inside main sections
 */
.illustration {
  .column(6);

  /* Alternate layout for meet section */
  #meet & {
    float: right;
  }

  @media screen and (max-width: 600px) {
    .column(12);
  }
}

/*
 * Float content inside main sections
 */
#meet,
#hack {
  .clearfix();

  .content {
    .column(6);

    @media screen and (max-width: 600px) {
      .column(12);
    }
  }
}

/*
 * Fancy main section headers
 */
#meet hgroup,
#hack hgroup,
#signup hgroup {
  background: url('../img/issie-brush1.png') center no-repeat;
  background-size: cover;

  margin: (6 * @rhythmUnitFallback) auto; // non-rem fallback
  margin: (6 * @rhythmUnit) auto;

  text-align: center;
  text-transform: uppercase;

  h2 + h3 {
    html.rgba & {
      color: fade(@textColor, 60%);
    }
  }
}
#hack hgroup {
  background-image: url('../img/issie-brush2.png');
}

/*
 * Portraits
 */
.portrait {
  display: inline-block;

  .smallFont();
  text-align: center;
  vertical-align: text-top;

  img {
    background: white;
    .border-radius(4 * @rhythmUnitFallback); // non-rem fallback
    .border-radius(4 * @rhythmUnit);

    height: 8 * @rhythmUnitFallback; // non-rem fallback
    height: 8 * @rhythmUnit;
    width: 8 * @rhythmUnitFallback; // non-rem fallback
    width: 8 * @rhythmUnit;
  }

  .name {
    display: block;
    font-weight: bold;
  }

  &.small {
    width: 5 * @rhythmUnitFallback; // non-rem fallback
    width: 5 * @rhythmUnit;

    .microFont();

    img {
      .border-radius(2.5 * @rhythmUnitFallback); // non-rem fallback
      .border-radius(2.5 * @rhythmUnit);

      height: 5 * @rhythmUnitFallback; // non-rem fallback
      height: 5 * @rhythmUnit;
      width: 5 * @rhythmUnitFallback; // non-rem fallback
      width: 5 * @rhythmUnit;
    }

    .name {
      font-weight: normal;
    }
  }
}

/*
 * Jury duty
 */
.jury {
  @numberOfPeople: 5;

  .unstyled-list();
  text-align: center;

  clear: both;

  h2 {
    padding-top: (4 * @rhythmUnit);
  }

  li {
    float: left;
    width: (100% / @numberOfPeople);
  }
}

/*
 * Schedule-type description list
 */
dl.schedule {
  .dl-horizontal(6);

  dt {
    text-align: left;
    padding-top: @rhythmUnitFallback; // non-rem fallback
    padding-top: @rhythmUnit;
    padding-bottom: @rhythmUnitFallback; // non-rem fallback
    padding-bottom: @rhythmUnit;
  }

  dd {
    // background-color: desaturate(darken(@backgroundColor, 5%), 50%);
    background: white url('../img/linedpaper2.png') bottom right;
    .border-radius(.5 * @rhythmUnitFallback); // non-rem fallback
    .border-radius(.5 * @rhythmUnit);
    .box-shadow(~"inset 0 1px 3px rgba(0,0,0,.2)");
    padding: @rhythmUnitFallback; // non-rem fallback
    padding: @rhythmUnit;
    margin-bottom: @rhythmUnitFallback; // non-rem fallback
    margin-bottom: @rhythmUnit;

    /* High density image */
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      html.backgroundsize & {
        background-image: url('../img/linedpaper2_@2x.png');
      }
    }
  }

  time {
    display: inline-block;
    font-weight: bold;
  }
}

/*
 * Align schedule heads with dd
 */
.schedule-head {
  padding-left: 6 * @rhythmUnitFallback; // none-rem fallback
  padding-left: 6 * @rhythmUnit;
}

/*
 * Footer links
 */
footer a {
  margin-bottom: (2 * @rhythmUnit);
  margin-right: (3 * @rhythmUnit);
}

/*
 * Logo image replacements
 */
.logo-se,
.logo-opendai,
.logo-shk,
.logo-foocafe,
.logo-erdf,
.logo-regionskane,
.logo-regionblekinge,
.logo-medea,
.logo-parkinn,
.logo-netport  {
  /* Hide text */
  .ir();
}
.logo-se {
  /* Set bg image */
  background-image: url('../img/logo-se.png');
  width: 76px;
  height: 33px;

  /* High density image */
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    html.backgroundsize & {
      background-image: url('../img/logo-se_@2x.png');
    }
  }
}
.logo-opendai {
  /* Set bg image */
  background-image: url('../img/logo-opendai.png');
  width: 56px;
  height: 44px;

  /* High density image */
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    html.backgroundsize & {
      background-image: url('../img/logo-opendai_@2x.png');
    }
  }
}
.logo-shk {
  /* Set bg image */
  background-image: url('../img/logo-shk.png');
  width: 195px;
  height: 44px;

  /* High density image */
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    html.backgroundsize & {
      background-image: url('../img/logo-shk_@2x.png');
    }
  }
}
.logo-foocafe {
  /* Set bg image */
  background-image: url('../img/logo-foocafe.png');
  width: 31px;
  height: 44px;

  /* High density image */
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    html.backgroundsize & {
      background-image: url('../img/logo-foocafe_@2x.png');
    }
  }
}
.logo-erdf {
  /* Set bg image */
  background-image: url('../img/logo-erdf.png');
  width: 172px;
  height: 88px;

  /* High density image */
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    html.backgroundsize & {
      background-image: url('../img/logo-erdf_@2x.png');
    }
  }
}
.logo-regionskane {
  /* Set bg image */
  background-image: url('../img/logo-regionskane.png');
  width: 71px;
  height: 66px;

  /* High density image */
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    html.backgroundsize & {
      background-image: url('../img/logo-regionskane_@2x.png');
    }
  }
}
.logo-regionblekinge {
  /* Set bg image */
  background-image: url('../img/logo-regionblekinge.png');
  width: 116px;
  height: 52px;

  /* High density image */
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    html.backgroundsize & {
      background-image: url('../img/logo-regionblekinge_@2x.png');
    }
  }
}
.logo-medea {
  /* Set bg image */
  background-image: url('../img/logo-medea.png');
  width: 60px;
  height: 78px;

  /* High density image */
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    html.backgroundsize & {
      background-image: url('../img/logo-medea_@2x.png');
    }
  }
}
.logo-parkinn {
  /* Set bg image */
  background-image: url('../img/logo-parkinn.png');
  width: 150px;
  height: 65px;
}
.logo-netport {
  /* Set bg image */
  background-image: url('../img/logo-netport.png');
  width: 116px;
  height: 55px;
}