
// Components
// -------------------------
@import "../../components/lesshat/lesshat";


// Partials
// -------------------------
@import "variables";
@import "normalize";
@import "mixins";


// Debug styles
// Uncomment when needed
// -------------------------
// @import "debug";


/*
 * Typography
 */
body {
  background-color: @backgroundColor;
  color: @textColor;
  line-height: 2 * @rhythmUnit;
}
h1 {
  .xLargeFont();
  .rhythmShift(2, 1, .7, .3);
}
h2 {
  .largeFont();
  .rhythmShift(1, 1, .7, .3);
}
p,
ul {
  .rhythmShift(0, 0, .5, .5);
}
small {
  .smallFont();
}

/*
 * Wrapper dimensions
 */
#wrapper {
  max-width: 960px;
  padding: (8 * @rhythmUnit) @rhythmUnit;
  margin: 0 auto;
}

/*
 * Header container
 */
header {
  background: url('../img/issie_herrutter.jpg') bottom center no-repeat;
  height: 48 * @rhythmUnit;
}

/*
 * Logotype
 */
header h1 {
  /* Hide text */
  .ir();

  /* Set bg image */
  background-image: url('../img/mnhlogo.png');
  width: 374px;
  height: 132px;

  /* Small screens */
  @media screen and (max-width: 390px) {
    html.backgroundsize & {
      width: 280px;
      height: 99px;
    }
  }

  /* High density image */
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    html.backgroundsize & {
      background-image: url('../img/mnhlogo_@2x.png');
      background-size: cover;
    }
  }
}

/*
 * Navigation
 */
header nav {
  color: darken(@lineColor, 50%);
  background-color: @lineColor;
  .box-shadow(~"inset 0 -1px 2px rgba(0,0,0,.05)");

  /* Layout */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: @rhythmUnit;
  ul {
    .inline-list();
    text-align: center;

    /* Enlarge hit area on links */
    li a {
      padding: @rhythmUnit;
    }

    /* Separators */
    li:before {
      color: darken(@lineColor, 15%);
      content: '|';
    }
    li:first-child:before {
      content: none;
    }
  }

  /* Typography */
  .smallFont();
  text-transform: uppercase;
  letter-spacing: 1px;
  a {
    color: darken(@lineColor, 50%);
    text-decoration: none;

    &:focus,
    &:hover {
      color: @textColor;
    }
  }
}