
// Components
// -------------------------
@import "../../components/lesshat/lesshat";


// Partials
// -------------------------
@import "variables";
@import "normalize";
@import "mixins";


// Debug styles
// Uncomment when needed
// -------------------------
// @import "debug";


/*
 * Typography
 */
body {
  background-color: @backgroundColor;
  color: @textColor;
  line-height: 2 * @rhythmUnit;
}
h1 {
  .xLargeFont();
  .rhythmShift(2, 1, .7, .3);
}
h2 {
  .largeFont();
  .rhythmShift(1, 1, .7, .3);
}
p,
ul {
  .rhythmShift(0, 0, .5, .5);
}
small {
  .smallFont();
}
.textblock {
  .columns(2);
  @media screen and (max-width: 500px) {
    .columns(1);
  }
  @media screen and (min-width: 900px) {
    .columns(3);
  }
}

/*
 * Autosize images
 */
img {
  max-width: 100%;
  height: auto;
}

/*
 * Hide navigation headers by defult
 */
nav {
  h1, h2, h3, h4 {
    .hide();
  }
}

/*
 * Wrapper dimensions
 */
#wrapper {
  max-width: 1002px;
  padding: (8 * @rhythmUnit) @rhythmUnit;
  margin: 0 auto;
}

/*
 * Clear floats in sections
 */
section {
  .clearfix();
}

/*
 * Enabled positioning inside header
 */
header {
  position: relative;
}

/*
 * Logotype
 */
header h1 {
  /* Hide text */
  .ir();

  /* Set bg image */
  background-image: url('../img/mnhlogo.png');
  width: 374px;
  height: 132px;

  /* Small screens */
  @media screen and (max-width: 390px) {
    html.backgroundsize & {
      width: 280px;
      height: 99px;
    }
  }

  /* High density image */
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    html.backgroundsize & {
      background-image: url('../img/mnhlogo_@2x.png');
      background-size: cover;
    }
  }
}

/*
 * Tagline
 */
header h2 {
  .baseFont();
  margin-bottom: 0;
}

/*
 * "Arranged by"
 */
header .arrangedby {
  h2 {
    padding: 0;
    margin-bottom: @rhythmUnit;
    .microFont();
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  ul {
    .inline-list();
    li {
      margin-right: @rhythmUnit;
      margin-bottom: @rhythmUnit;
    }
  }

  /* Position top right on larger screens */
  @media screen and (min-width: 719px) {
    position: absolute;
    top: 0;
    right: 0;

    max-width: 230px;
  }
}

/*
 * Navigation
 */
header nav {
  color: @backgroundColor;
  background-color: lighten(@textColor, 10%);
  border-bottom: 1px solid white;

  /* Layout */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: @rhythmUnit;
  ul {
    .inline-list();
    text-align: center;

    /* Enlarge hit area on links */
    li a {
      padding: @rhythmUnit;
    }

    /* Separators */
    li:before {
      color: rgba(255,255,255,.2);
      content: '|';
    }
    li:first-child:before {
      content: none;
    }
  }

  /* Typography */
  .smallFont();
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  a {
    color: mix(@backgroundColor, @textColor, 80%);
    text-decoration: none;

    &:focus,
    &:hover {
      color: @backgroundColor;
    }
  }
}

/*
 * Float illustrations
 */
.illustration {
  float: right;

  /* Alternate layout for some sections */
  #hack & {
    float: left;
  }
}

/*
 * Portraits
 */
.portrait {
  display: inline-block;
  padding: .5 * @rhythmUnit;
  width: 8 * @rhythmUnit;

  .smallFont();
  text-align: center;
  vertical-align: text-top;

  img {
    background: white;
    .border-radius(4 * @rhythmUnit);

    height: 8 * @rhythmUnit;
    width: 8 * @rhythmUnit;
  }

  &.small {
    width: 5 * @rhythmUnit;

    .microFont();

    img {
      .border-radius(2.5 * @rhythmUnit);

      height: 5 * @rhythmUnit;
      width: 5 * @rhythmUnit;
    }
  }
}

dl.program {
  .dl-horizontal(8 * @rhythmUnit);

  dt {
    text-align: left;
  }
  dd, dt {
    padding-bottom: @rhythmUnit;
  }

  time {
    display: inline-block;
    font-weight: bold;
  }
}

/*
 * Logo image replacements
 */
.logo-se,
.logo-opendai,
.logo-shk,
.logo-foocafe,
.logo-erdf  {
  /* Hide text */
  .ir();
}
.logo-se {
  /* Set bg image */
  background-image: url('../img/logo-se.png');
  width: 76px;
  height: 33px;

  /* High density image */
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    html.backgroundsize & {
      background-image: url('../img/logo-se_@2x.png');
    }
  }
}
.logo-opendai {
  /* Set bg image */
  background-image: url('../img/logo-opendai.png');
  width: 56px;
  height: 44px;

  /* High density image */
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    html.backgroundsize & {
      background-image: url('../img/logo-opendai_@2x.png');
    }
  }
}
.logo-shk {
  /* Set bg image */
  background-image: url('../img/logo-shk.png');
  width: 195px;
  height: 44px;

  /* High density image */
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    html.backgroundsize & {
      background-image: url('../img/logo-shk_@2x.png');
    }
  }
}
.logo-foocafe {
  /* Set bg image */
  background-image: url('../img/logo-foocafe.png');
  width: 31px;
  height: 44px;
}
.logo-erdf {

  /* Set bg image */
  background-image: url('../img/logo-erdf.png');
  width: 304px;
  height: 155px;

  /* High density image */
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    html.backgroundsize & {
      background-image: url('../img/logo-erdf_@2x.png');
    }
  }
}