/*
 * Clearfixin' like a baws
 */
.clearfix() {
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  &:after {
    clear: both;
  }
}

/*
 * Shortcut for hiding stuff
 */
.hide() {
  display: none;
}

/*
 * Typographic mixins
 */
.microFont(@line-height: 1) {
  font-size: @microFontFallback; // non-rem fallback
  font-size: @microFont;
  line-height: @line-height * @rhythmUnitFallback;  // non-rem fallback
  line-height: @line-height * @rhythmUnit;
}
.smallFont(@line-height: 2) {
  font-size: @smallFontFallback; // non-rem fallback
  font-size: @smallFont;
  line-height: @line-height * @rhythmUnitFallback;  // non-rem fallback
  line-height: @line-height * @rhythmUnit;
}
.baseFont(@line-height: 2) {
  font-size: 100%; // non-rem fallback
  font-size: 1rem;
  line-height: @line-height * @rhythmUnitFallback;  // non-rem fallback
  line-height: @line-height * @rhythmUnit;
}
.largeFont(@line-height: 3) {
  font-size: @largeFontFallback; // non-rem fallback
  font-size: @largeFont;
  line-height: @line-height * @rhythmUnitFallback;  // non-rem fallback
  line-height: @line-height * @rhythmUnit;
}
.xLargeFont(@line-height: 4) {
  font-size: @xLargeFontFallback; // non-rem fallback
  font-size: @xLargeFont;
  line-height: @line-height * @rhythmUnitFallback;  // non-rem fallback
  line-height: @line-height * @rhythmUnit;
}

/*
 * Invert the default colors
 */
.invertColors() {
  background-color: lighten(@textColor, 10%);
  color: @backgroundColor;
}

/*
 * Shift with rhythm
 * Use this to line up with the typographic rhythm
 */
.rhythmShift(@mt: 1, @mb: 1, @pt: 1, @pb: 1) {
  margin-top: @mt * @rhythmUnit;
  margin-bottom: @mb * @rhythmUnit;
  padding-top: @pt * @rhythmUnit;
  padding-bottom: @pb * @rhythmUnit;
}

/*
 * Image replacement
 */
.ir() {
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;

  overflow: hidden;
  display: inline-block;
  padding: 0;

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
  }
}

/*
 * Text overflow
 * Requires inline-block or block for proper styling
 */
.text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*
 * Unstyled list
 */
.unstyled-list() {
  list-style: none;
  padding-left: 0;
}

/*
 * Inline list
 */
.inline-list() {
  .unstyled-list();

  li {
    display: inline-block;
  }
}

/*
 * Horizontal description lists
 */
.dl-horizontal(@offset: 8) {
  .clearfix(); // Ensure dl clears floats if empty dd elements present
  dt {
    float: left;
    width: (@offset * @rhythmUnitFallback) - (2 * @rhythmUnitFallback); // non-rem fallback
    width: (@offset * @rhythmUnit) - (2 * @rhythmUnit);
    clear: left;
    text-align: right;
    .text-overflow();
  }
  dd {
    margin-left: @offset * @rhythmUnitFallback; // non-rem fallback
    margin-left: @offset * @rhythmUnit;
  }
}
