/*
 * Typographic mixins
 */
.smallFont(@line-height: 2 * @rhythmUnit) {
 font-size: @smallFont;
 line-height: @line-height;
}
.baseFont(@line-height: 2 * @rhythmUnit) {
 font-size: 1rem;
 line-height: @line-height;
}
.largeFont(@line-height: 3 * @rhythmUnit) {
 font-size: @largeFont;
 line-height: @line-height;
}
.xLargeFont(@line-height: 4 * @rhythmUnit) {
  font-size: @xLargeFont;
  line-height: @line-height;
}

/*
 * Shift with rhythm
 * Use this to line up with the typographic rhythm
 */
.rhythmShift(@mt: 1, @mb: 1, @pt: 1, @pb: 1) {
  margin-top: @mt * @rhythmUnit;
  margin-bottom: @mb * @rhythmUnit;
  padding-top: @pt * @rhythmUnit;
  padding-bottom: @pb * @rhythmUnit;
}

/*
 * Image replacement
 */
.ir() {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  padding: 0;

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
  }
}

/*
 * Unstyled list
 */
.unstyled-list() {
  list-style: none;
  padding-left: 0;
}

/*
 * Inline list
 */
.inline-list() {
  .unstyled-list();

  li {
    display: inline-block;
  }
}