
// Font stacks
@baseFontStack:    'Museo Sans', sans-serif;
@altFontStack:     'Museo Slab', serif;

// Typographic rhythm
@rhythmUnit:              .6875rem;     // 11px
@microFont:               .6875rem;     // 11px
@smallFont:               .8125rem;     // 13px
@largeFont:               1.5rem;       // 24px
@xLargeFont:              2.375rem;     // 38px

// Fallback for browsers that don't support rem
@rhythmUnitFallback:      11px;
@microFontFallback:       11px;
@smallFontFallback:       13px;
@largeFontFallback:       24px;
@xLargeFontFallback:      38px;

// Colors
@backgroundColor:   rgb(245, 255, 255);
@textColor:         rgb(30, 40, 40);
@lineColor:         rgb(235, 240, 240);
@linkColor:         rgb(138, 165, 52);

